# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/

# Environment variable files
.env
.env.*
!.env.example

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Test/report outputs
htmlcov/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.mo
*.pot

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
build/
dist/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Bandit security reports
bandit.json

# Others
*.sqlite3
*.db
